In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
homeprice=pd.read_csv('Inputs/Sale_Prices_Zip.csv')
business=pd.read_csv('Inputs/Licensed_Businesses_WA.csv')
pot_sales=pd.read_csv('Inputs/Sales_and_Tax_Report_WA.csv')

C:\Users\mstos\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
wa_all_hp=homeprice.loc[homeprice['StateName']=='Washington',:]
wa_all_hp.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11
39,99534.0,98052,Washington,40,431100.0,429300.0,419000.0,412800.0,413100.0,454500.0,...,671300.0,703600.0,755600.0,777800.0,779300.0,745200.0,752200.0,786200.0,806100.0,803200.0
93,99500.0,98012,Washington,94,384900.0,375100.0,364300.0,374900.0,368100.0,372600.0,...,554800.0,575700.0,581500.0,587000.0,590200.0,591600.0,580500.0,556500.0,535300.0,533400.0
119,99563.0,98103,Washington,120,NaN,NaN,NaN,NaN,NaN,NaN,...,757500.0,781200.0,775700.0,803300.0,799400.0,757800.0,742900.0,771600.0,808800.0,788000.0
211,99961.0,98682,Washington,212,225100.0,221700.0,218100.0,213700.0,216400.0,210600.0,...,300900.0,306700.0,310000.0,309000.0,306400.0,307300.0,305200.0,307300.0,312800.0,319800.0
252,99589.0,98133,Washington,253,318100.0,338700.0,322100.0,336900.0,332500.0,324300.0,...,552800.0,551600.0,544000.0,533000.0,559000.0,566400.0,551600.0,552300.0,545900.0,569100.0

In [4]:
business.head()

,Organization,Active,License,UBI,Type,Address,Address Line 2,City,State,County,Zip,CreateDate,DayPhone
0,BEAUSOLEIL,ACTIVE (ISSUED),416694,6.033540e+15,MARIJUANA PRODUCER TIER 3/MARIJUANA PROCESSOR,7903 BEAVER VALLEY RD STE A,NaN,CHIMACUM,WA,JEFFERSON,983250000,20171229,2.253299e+09
1,'OH' MCDONALD FARMS,ACTIVE (ISSUED),413650,6.034430e+15,MARIJUANA PRODUCER TIER 2/MARIJUANA PROCESSOR,250 W AXTON RD,NaN,BELLINGHAM,WA,WHATCOM,982267315,20171104,3.609667e+09
2,POT ZONE,ACTIVE (ISSUED),415229,6.033540e+15,MARIJUANA RETAILER,1703 SE SEDGWICK RD,STE 113,PORT ORCHARD,WA,KITSAP,983669599,20171114,2.533127e+09
3,BEST BUDS MARKETING AND DISTRIBUTION,ACTIVE (ISSUED),425431,6.041330e+15,MARIJUANA TRANSPORTATION,1206 N DOLARWAY RD STE 116,NaN,ELLENSBURG,WA,KITTITAS,989268392,20171115,2.064095e+09
4,RED FROG,ACTIVE (ISSUED),412437,6.033470e+15,MARIJUANA PRODUCER TIER 3/MARIJUANA PROCESSOR,12815 227TH AVE SE STE A,STE A,MONROE,WA,SNOHOMISH,982728720,20171130,3.608059e+09

In [5]:
retailers=business.loc[(business['Type']=='MARIJUANA RETAILER/MEDICAL MARIJUANA ENDORSEMENT') | (business['Type']=='MARIJUANA RETAILER'),: ]

In [6]:
retailers.head()

,Organization,Active,License,UBI,Type,Address,Address Line 2,City,State,County,Zip,CreateDate,DayPhone
2,POT ZONE,ACTIVE (ISSUED),415229,6.033540e+15,MARIJUANA RETAILER,1703 SE SEDGWICK RD,STE 113,PORT ORCHARD,WA,KITSAP,983669599,20171114,2.533127e+09
6,ALTITUDE,ACTIVE (ISSUED),414225,6.033570e+15,MARIJUANA RETAILER/MEDICAL MARIJUANA ENDORSEMENT,260 MERLOT DR,NaN,PROSSER,WA,BENTON,993500000,20171114,5.097864e+09
18,DOCKSIDE CANNABIS,ACTIVE (ISSUED),414174,6.033560e+15,MARIJUANA RETAILER/MEDICAL MARIJUANA ENDORSEMENT,1728 4TH AVE S,NaN,SEATTLE,WA,KING,981340000,20171214,2.062236e+09
21,FILLABONG,ACTIVE (ISSUED),415211,6.035600e+15,MARIJUANA RETAILER/MEDICAL MARIJUANA ENDORSEMENT,2839 NW KITSAP PL STE A,NaN,SILVERDALE,WA,KITSAP,983839447,20171023,3.606980e+09
25,HERBAL NATION,ACTIVE (ISSUED),413683,6.034900e+15,MARIJUANA RETAILER/MEDICAL MARIJUANA ENDORSEMENT,19302 BOTHELL EVERETT HWY,NaN,BOTHELL,WA,SNOHOMISH,980127113,20180306,4.254861e+09

In [13]:
retailers['UBI']

NameError: name 'dtype' is not defined

In [8]:
pot_sales=pot_sales.loc[pot_sales['Total Sales'] != 0,:]
pot_sales.head()

,Trade Name,License Number,UBI,Privilege Code,Period Start,Period End,Total Sales,Excise Tax,Total Due,Status,Submit Date,Fiscal Year
2,HONU ENTERPRISES,412097,603341347,393,9/1/2016,9/30/2016,318638.59,0.00,0.00,Confirmed,10/18/2016,2017
3,MILLER'S MARIJUANA,415001,603358103,0394 0395,9/1/2015,9/30/2015,91718.76,33935.94,33935.94,Confirmed,10/19/2015,2016
5,HERBSCAPES,412670,601264180,391,12/1/2014,12/31/2014,4956.00,1239.00,1239.00,Confirmed,1/15/2015,2015
6,AISLING ENTERPRISES,413288,602990684,391,5/1/2016,5/31/2016,1407.00,0.00,0.00,Confirmed,6/20/2016,2016
8,THE SUNSHINE TIKI HUT,417198,602883407,393,10/1/2016,10/31/2016,23714.25,0.00,0.00,Unconfirmed,NaN,2017

In [9]:
retailers.merge(pot_sales,on='UBI')

Empty DataFrame
Columns: [Organization, Active, License, UBI, Type, Address, Address Line 2, City, State, County, Zip, CreateDate, DayPhone, Trade Name, License Number, Privilege Code, Period Start, Period End, Total Sales, Excise Tax, Total Due, Status, Submit Date, Fiscal Year]
Index: []

[0 rows x 24 columns]